 h1{
font-weight: normal;
color: green;
 }
 
body{
    font-family: sans-seirf;
}

h2{ 
    color: yellowgreen;
    font-style: italic;
}
ol{
    border: 3px solid;
    padding: 40px;
}

li{
    font-style: bold;
    color: red;
} 
p{
    font-style: italic;
    font-weight: larger;
    text-shadow:0px 5px ;
}

