 h1{
font-weight: normal;
color: green;
 }
 
body{
    font-family: san-seirf;
}

h2{ 
    color: yellowgreen
    font-style: italic
}
ol{
    border: 3px solid black;
}
li{
    font-style: bold;
} 

}